/**************************sys color***********************/
@sys-color-main: #32507b;
@sys-color-light: #e9eff8;
@sys-color-gray: #f4f5f7;
@sys-color-red: #ef325e;

@aid-color-main: #203a5e;
@aid-color-dark: #122137;
@aid-color-light: #3b4256;
@aid-color-yellow: #ffb155;
@aid-color-white: #fafafa;
/**************************font color***********************/
@font-color-main: #353535; // 正文、输入正文、表格正文、按钮文字
@font-color-title: #9b9b9b; // 输入框标题、说明、描述
@font-color-placeholder: #d8d8d8; // 输入框内提示文字
@font-color-link: #4e7dc0; // 超链接字体

/**************************line color***********************/
@line-color-input: #d8d8d8; // 输入框线框
@line-color-table: #eeeeee; // 表格线条