.sys-class {
  .custom-icons-menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
  }
  // 合同列表
  .icons-menu-contractList {
    background: url("~@/assets/img/icon-aside/contractList.png") no-repeat;
  }
  // 合同审核
  .icons-menu-contractCheck {
    background: url("~@/assets/img/icon-aside/contractCheck.png") no-repeat;
  }
  // 逻辑检控设置
  .icons-menu-setting {
    background: url("~@/assets/img/icon-aside/setting.png") no-repeat;    
  }
  // 进出口模板
  .icons-menu-iEDefault {
    background: url("~@/assets/img/icon-aside/ie-default.png") no-repeat;        
  }
  // 接单
  .icons-menu-receipt {
    background: url("~@/assets/img/icon-aside/receipt.png") no-repeat;            
  }
  // 关联整合申报
  .icons-menu-decCheck {
    background: url("~@/assets/img/icon-aside/dec-check.png") no-repeat;                
  }
  // 报关单审核
  .icons-menu-declare {
    background: url("~@/assets/img/icon-aside/declare.png") no-repeat;   
  }
  // 核注清单审核
  .icons-menu-taxReviewed {
    background: url("~@/assets/img/icon-aside/taxReviewed.png") no-repeat;   
  }
  // 业务数据查询
  .icons-menu-dataQuery {
    background: url("~@/assets/img/icon-aside/data-search.png") no-repeat; 
  }
  // 许可证管理
  .icons-menu-allows {
    background: url("~@/assets/img/icon-aside/allows.png") no-repeat; 
  }
  // 证书管理
  .icons-menu-certificate {
    background: url("~@/assets/img/icon-aside/certificate.png") no-repeat; 
  }
  // 业务单证管理
  .icons-menu-jobsLicense {
    background: url("~@/assets/img/icon-aside/jobsLicense.png") no-repeat; 
  }
  // 归类管理
  .icons-menu-classify {
    background: url("~@/assets/img/icon-aside/classify.png") no-repeat; 
  }
  // 专家答疑首页
  .icons-menu-index {
    background: url("~@/assets/img/icon-aside/index.png") no-repeat; 
  }
  // 我的提问
  .icons-menu-problem {
    background: url("~@/assets/img/icon-aside/problem.png") no-repeat; 
  }
  // 我的解答
  .icons-menu-solute {
    background: url("~@/assets/img/icon-aside/solute.png") no-repeat; 
  }
  // 客户管理
  .icons-menu-customer {
    background: url("~@/assets/img/icon-aside/customer.png") no-repeat;
  }
  // 单证池
  .icons-menu-license {
    background: url("~@/assets/img/icon-aside/license.png") no-repeat; 
  }
  // 商品资料库
  .icons-menu-productInfo {
    background: url("~@/assets/img/icon-aside/productInfo.png") no-repeat; 
  }
  // 通关代码
  .icons-menu-passCode {
    background: url("~@/assets/img/icon-aside/passCode.png") no-repeat; 
  }
  // 商品申报参数
  .icons-menu-productParams {
    background: url("~@/assets/img/icon-aside/productParams.png") no-repeat; 
  }
  // 汽车申报参数
  .icons-menu-carParams {
    background: url("~@/assets/img/icon-aside/carParams.png") no-repeat; 
  }
  // 舱单查询
  .icons-menu-airQuery {
    background: url("~@/assets/img/icon-aside/airQuery.png") no-repeat; 
  }
  // 报关单查询
  .icons-menu-decQuery {
    background: url("~@/assets/img/icon-aside/decQuery.png") no-repeat; 
  }
  // 业务报表
  .icons-menu-jobsList {
    background: url("~@/assets/img/icon-aside/jobsList.png") no-repeat; 
  }
  // KPI报表
  .icons-menu-kpiList {
    background: url("~@/assets/img/icon-aside/kpiList.png") no-repeat; 
  }
  // 合同管理
  .icons-menu-conManage {
    background: url("~@/assets/img/icon-aside/conManage.png") no-repeat; 
  }
  // 邀请报价
  .icons-menu-proPrice {
    background: url("~@/assets/img/icon-aside/proPrice.png") no-repeat; 
  }
  // 报价管理
  .icons-menu-priceManage {
    background: url("~@/assets/img/icon-aside/priceManage.png") no-repeat; 
  }
  // 费用评估
  .icons-menu-priceConsider {
    background: url("~@/assets/img/icon-aside/priceConsider.png") no-repeat; 
  }
  // 费用台账
  .icons-menu-account {
    background: url("~@/assets/img/icon-aside/account.png") no-repeat; 
  }
  // 账单管理
  .icons-menu-accountManage {
    background: url("~@/assets/img/icon-aside/accountManage.png") no-repeat; 
  }
  // 发票管理
  .icons-menu-ticketManage {
    background: url("~@/assets/img/icon-aside/ticketManage.png") no-repeat; 
  }
  // 备案管理
  .icons-menu-beianManage {
    background: url("~@/assets/img/icon-aside/beianManage.png") no-repeat; 
  }
  // 进境/港申报
  .icons-menu-importLare {
    background: url("~@/assets/img/icon-aside/importLare.png") no-repeat; 
  }
  // 在港申报
  .icons-menu-inLare {
    background: url("~@/assets/img/icon-aside/inLare.png") no-repeat; 
  }
  // 出境/港申报
  .icons-menu-outLare {
    background: url("~@/assets/img/icon-aside/outLare.png") no-repeat; 
  }
  // 进境/港申报
  .icons-menu-ieport {
    background: url("~@/assets/img/icon-aside/ieport.png") no-repeat; 
  }
  // 电子底账
  .icons-menu-beianJobs {
    background: url("~@/assets/img/icon-aside/beianJobs.png") no-repeat; 
  }
  // 通关作业
  .icons-menu-lareJobs {
    background: url("~@/assets/img/icon-aside/lareJobs.png") no-repeat; 
  }
  // 核销核算
  .icons-menu-baoheJobs {
    background: url("~@/assets/img/icon-aside/baoheJobs.png") no-repeat; 
  }
  // 外发加工
  .icons-menu-czhanJobs {
    background: url("~@/assets/img/icon-aside/czhanJobs.png") no-repeat; 
  }
  // 场站作业
  .icons-menu-czjb {
    background: url("~@/assets/img/icon-aside/czjb.png") no-repeat; 
  }
  // 场站作业查询
  .icons-menu-czjbquery {
    background: url("~@/assets/img/icon-aside/czjbquery.png") no-repeat; 
  }
  // 账册/手册 数据录入
  .icons-menu-dataInfo {
    background: url("~@/assets/img/icon-aside/dataInput.png") no-repeat; 
  }
  // 申报表
  .icons-menu-decForm {
    background: url("~@/assets/img/icon-aside/decForm.png") no-repeat; 
  }
  // 收发货单
  .icons-menu-goodsBill {
    background: url("~@/assets/img/icon-aside/goodsBill.png") no-repeat; 
  }
  // 综合查询
  .icons-menu-queryList {
    background: url("~@/assets/img/icon-aside/queryList.png") no-repeat; 
  }
  // 同步申报表
  .icons-menu-synDecForm {
    background: url("~@/assets/img/icon-aside/synDecForm.png") no-repeat; 
  }
  // 快件舱单
  .icons-menu-shipBill {
    background: url("~@/assets/img/icon-aside/expressShip.png") no-repeat; 
  }
  // 快件报关单
  .icons-menu-declareBill {
    background: url("~@/assets/img/icon-aside/expressDec.png") no-repeat; 
  }
  // 快件舱单
  .icons-menu-decRegister {
    background: url("~@/assets/img/icon-aside/decRegister.png") no-repeat;
  }
  // 进口制单
  .icons-menu-importDec {
    background: url("~@/assets/img/icon-aside/importDec.png") no-repeat; 
  }
  // 出口制单
  .icons-menu-exportDec {
    background: url("~@/assets/img/icon-aside/exportDec.png") no-repeat;
  }
  // 报价管理
  .icons-finance-offerManage {
    background: url("~@/assets/img/icon-aside/offerManage.png") no-repeat;
  }
  // 发票管理
  .icons-finance-ticket {
    background: url("~@/assets/img/icon-aside/ticketManage.png") no-repeat;
  }
  // 费用台账
  .icons-finance-offerAccount {
    background: url("~@/assets/img/icon-aside/account.png") no-repeat;
  }
  // 费用项管理
  .icons-finance-costManage {
    background: url("~@/assets/img/icon-aside/account-finance-manage.png") no-repeat;
  }
  // 费用预估
  .icons-finance-computeFinance {
    background: url("~@/assets/img/icon-aside/compute-finance.png") no-repeat;
  }
  // 邀请报价
  .icons-finance-receiveCost {
  background: url("~@/assets/img/icon-aside/receiveCost.png") no-repeat;
  }
  // 账单管理
  .icons-finance-accountManage {
    background: url("~@/assets/img/icon-aside/accountManage.png") no-repeat;
  }
  // 进口委托
  .icons-menu-importEn {
    background: url("~@/assets/img/icon-aside/importEn.png") no-repeat;
  }
  // 出口委托
  .icons-menu-exportEn {
    background: url("~@/assets/img/icon-aside/exportEn.png") no-repeat;
  }
  // 发票管理
  .icons-finance-billManage {
    background: url("~@/assets/img/icon-aside/billManage.png") no-repeat;
  }
  // 平账管理
  .icons-finance-flatManage {
    background: url("~@/assets/img/icon-aside/flatManage.png") no-repeat;
  }
  // 请款审批
  .icons-finance-fundApproval {
    background: url("~@/assets/img/icon-aside/fundApproval.png") no-repeat;
  }
  // 汇总统计
  .icons-finance-summary {
    background: url("~@/assets/img/icon-aside/summary.png") no-repeat;
  }
  // 智能制单中心
  .icons-menu-aiCenter {
    background: url("~@/assets/img/icon-aside/aiCenter.png") no-repeat;
  }
  // 在线委托
  .icons-menu-online {
    background: url("~@/assets/img/icon-aside/online-entrust.png") no-repeat;
  }
  // 放大
  .ai-icon-amplifier i{
    background: url(~@/assets/img/ai-icon/ai-amplifier.png) no-repeat;
  }
  // 放大
  .ai-icon-amplifier:hover i,.ai-icon-amplifier:focus i{
    background: url(~@/assets/img/ai-icon/ai-amplifier-check.png) no-repeat;
  }
  // 缩小
  .ai-icon-shrink i{
    background: url(~@/assets/img/ai-icon/ai-shrink.png) no-repeat;
  }
  // 缩小
  .ai-icon-shrink:hover i,.ai-icon-shrink:focus i{
    background: url(~@/assets/img/ai-icon/ai-shrink-check.png) no-repeat;
  }
  // 缩小
  .ai-icon-shrink i{
    background: url(~@/assets/img/ai-icon/ai-shrink.png) no-repeat;
  }
  // 缩小
  .ai-icon-shrink:hover i,.ai-icon-shrink:focus i{
    background: url(~@/assets/img/ai-icon/ai-shrink-check.png) no-repeat;
  }
  // 逆时针旋转
  .ai-icon-anticlockwise i{
    background: url(~@/assets/img/ai-icon/ai-anticlockwise.png) no-repeat;
  }
  // 逆时针旋转
  .ai-icon-anticlockwise:hover i,.ai-icon-anticlockwise:focus i{
    background: url(~@/assets/img/ai-icon/ai-anticlockwise-check.png) no-repeat;
  }
  // 顺时针旋转
  .ai-icon-clockwise i{
    background: url(~@/assets/img/ai-icon/ai-clockwise.png) no-repeat;
  }
  // 顺时针旋转
  .ai-icon-clockwise:hover i,.ai-icon-clockwise:focus i{
    background: url(~@/assets/img/ai-icon/ai-clockwise-check.png) no-repeat;
  }
   // ai 打印
   .ai-icon-print i{
    background: url(~@/assets/img/ai-icon/ai-print.png) no-repeat;
  }
  // ai 打印
  .ai-icon-print:hover i,.ai-icon-print:focus i{
    background: url(~@/assets/img/ai-icon/ai-print-check.png) no-repeat;
  }
}
// 按钮样式
.el-button.list-btns{
  padding: 6px 7px;
  margin: 0 5px 0 0;
  font-size: 12px;
  border-radius: 2px;
  i{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
  }
  &:hover,&:focus{
    border-color: #409EFF;
    color: #409EFF;
    background-color: #fff;
  }
}
.list-icon-detailEport i{
  background: url(~@/assets/img/icon-detailEport.png) no-repeat;
}
.list-icon-detailEport:hover i,.list-icon-detailEport:focus i{
  background: url(~@/assets/img/icon-detailEportH.png) no-repeat;
}
.list-icon-mergeOrder i{
  background: url(~@/assets/img/icon-mergeOrder.png) no-repeat;
}
.list-icon-mergeOrder:hover i,.list-icon-mergeOrder:focus i{
  background: url(~@/assets/img/icon-mergeOrderH.png) no-repeat;
}
.list-icon-emailSend i{
  background: url(~@/assets/img/icon-emailSend.png) no-repeat;
}
.list-icon-emailSend:hover i,.list-icon-emailSend:focus i{
  background: url(~@/assets/img/icon-emailSendH.png) no-repeat;
}
.list-icon-billDown i{
  background: url(~@/assets/img/icon-billDown.png) no-repeat;
}
.list-icon-billDown:hover i,.list-icon-billDown:focus i{
  background: url(~@/assets/img/icon-billDownH.png) no-repeat;
}

.ocr-img i{
  background: url('~@/assets/img/ocr.png') no-repeat;
}

/****************************以后使用新图标***************************************/
.table-icon{
  margin: 0;
  padding: 0;
  i{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
  }
}
// 表格 下拉 图标 通用
.el-button.list-btn-drop{
  .list-icon-dropdown{
    width: 40px;
    height: 11px;
    margin: 2px 4px;
    background: url('~@/assets/img/standard/icon-dropdown.png') no-repeat;
  }
  &:hover .list-icon-dropdown,&:focus .list-icon-dropdown{
    background: url('~@/assets/img/standard/icon-dropdownH.png') no-repeat;
  }
}
// 查看 按钮图标  通用
.list-icon-look i{
  background: url(~@/assets/img/standard/icon-look.png) no-repeat;
}
.list-icon-lookH i{
  background: url(~@/assets/img/standard/icon-lookH.png) no-repeat;
}
.list-icon-look:hover i,.list-icon-look:focus i,.sys-table-table .list-icon-look i{
  background: url(~@/assets/img/standard/icon-lookH.png) no-repeat;
}
.list-icon-look.is-disabled i,.list-icon-look.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-lookD.png) no-repeat;
}
// 编辑 按钮图标 通用
.list-icon-edit i{
  background: url(~@/assets/img/standard/icon-edit.png) no-repeat;
}
.list-icon-editH i{
  background: url(~@/assets/img/standard/icon-editH.png) no-repeat;
}
.list-icon-edit:hover i,.list-icon-edit:focus i,.sys-table-table .list-icon-edit i{
  background: url(~@/assets/img/standard/icon-editH.png) no-repeat;
}
.list-icon-edit.is-disabled i,.list-icon-edit.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-editD.png) no-repeat;
}
// 上传 图标 通用
.list-icon-upload i{
  background: url(~@/assets/img/standard/icon-upload.png) no-repeat;
}
.list-icon-upload:hover i,.list-icon-upload:focus i,.sys-table-table .list-icon-upload i{
  background: url(~@/assets/img/standard/icon-uploadH.png) no-repeat;
}
.list-icon-upload.is-disabled i,.list-icon-upload.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-uploadD.png) no-repeat;
}
// 下载 图标 通用
.list-icon-download i{
  background: url(~@/assets/img/standard/icon-download.png) no-repeat;
}
.list-icon-download:hover i,.list-icon-download:focus i,.sys-table-table .list-icon-download i{
  background: url(~@/assets/img/standard/icon-downloadH.png) no-repeat;
}
.list-icon-download.is-disabled i,.list-icon-download.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-downloadD.png) no-repeat;
}
// 打印 图标 通过
.list-icon-print i{
  background: url(~@/assets/img/standard/icon-print.png) no-repeat;
}
.list-icon-print:hover i,.list-icon-print:focus i{
  background: url(~@/assets/img/standard/icon-printH.png) no-repeat;
}
.list-icon-print.is-disabled i,.list-icon-print.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-printD.png) no-repeat;
}
// 发送 图标 通用
.list-icon-emailSend i{
  background: url(~@/assets/img/standard/icon-emailSend.png) no-repeat;
}
.list-icon-emailSend:hover i,.list-icon-emailSend:focus i{
  background: url(~@/assets/img/standard/icon-emailSendH.png) no-repeat;
}
.list-icon-emailSend.is-disabled i,.list-icon-emailSend.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-emailSendD.png) no-repeat;
}
// 申报 图标 通用
.list-icon-declare i{
  background: url(~@/assets/img/standard/icon-declare.png) no-repeat;
}
.list-icon-declare:hover i,.list-icon-declare:focus i{
  background: url(~@/assets/img/standard/icon-declareH.png) no-repeat;
}
.list-icon-declare.is-disabled i,.list-icon-declare.is-disabled:hover i {
  background: url(~@/assets/img/standard/icon-declareD.png) no-repeat;
}
// 列表导出 图标 通用
.list-icon-listExport i{
  background: url(~@/assets/img/standard/icon-listExport.png) no-repeat;
}
.list-icon-listExport:hover i,.list-icon-listExport:focus i{
  background: url(~@/assets/img/standard/icon-listExportH.png) no-repeat;
}
.list-icon-listExport.is-disabled i,.list-icon-listExport.is-disabled:hover i {
  background: url(~@/assets/img/standard/icon-listExportD.png) no-repeat;
}
// 删除 图标 通用
.list-icon-delete i,.list-icon-delete.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-delete.png) no-repeat;
}
.list-icon-delete:hover i,.list-icon-delete:focus i,.sys-table-table .list-icon-delete i{
  background: url(~@/assets/img/standard/icon-deleteH.png) no-repeat;
}
.list-icon-delete.is-disabled i,.list-icon-delete.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-deleteD.png) no-repeat;
}
// 导入 图标 通用
.list-icon-import i{
  background: url(~@/assets/img/standard/icon-import.png) no-repeat;
}
.list-icon-import:hover i,.list-icon-import:focus i{
  background: url(~@/assets/img/standard/icon-importH.png) no-repeat;
}
.list-icon-import.is-disabled i,.list-icon-import.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-importD.png) no-repeat;
}
// 标记图标 通用
.list-icon-sign i{
  background: url(~@/assets/img/icon-sign.png) no-repeat;
}
.list-icon-sign:hover i,.list-icon-sign:focus i{
  background: url(~@/assets/img/icon-signH.png) no-repeat;
}
.list-icon-sign.is-disabled i,.list-icon-sign.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-signD.png) no-repeat;
}
// 导出 图标 通过
.list-icon-export i{
  background: url(~@/assets/img/standard/icon-export.png) no-repeat;
}
.list-icon-export.is-disabled:hover i,.list-icon-export.is-disabled i{
  background: url(~@/assets/img/standard/icon-exportD.png) no-repeat;
}
.list-icon-export:hover i,.list-icon-export:focus i,.sys-table-table .list-icon-export i{
  background: url(~@/assets/img/standard/icon-exportH.png) no-repeat;
}
// 生成接单 图标 通过
.list-icon-createOrder i{
  background: url(~@/assets/img/standard/icon-createOrder.png) no-repeat;
}
.list-icon-createOrder:hover i,.list-icon-createOrder:focus i,.sys-table-table .list-icon-createOrder i{
  background: url(~@/assets/img/standard/icon-createOrderH.png) no-repeat;
}
.list-icon-createOrder.is-disabled:hover i,.list-icon-createOrder.is-disabled i{
  background: url(~@/assets/img/standard/icon-createOrderD.png) no-repeat;
}
// 生成接单 图标 通过
.list-icon-create i{
  background: url(~@/assets/img/standard/icon-create.png) no-repeat;
}
.list-icon-create:hover i,.list-icon-create:focus i,.sys-table-table .list-icon-create i{
  background: url(~@/assets/img/standard/icon-createH.png) no-repeat;
}
.list-icon-create.is-disabled:hover i,.list-icon-create.is-disabled i{
  background: url(~@/assets/img/standard/icon-createD.png) no-repeat;
}
// 提交审核 图标
.list-icon-subimtCheck i{
  background: url(~@/assets/img/standard/icon-subimtCheck.png) no-repeat;
}
.list-icon-subimtCheck:hover i,.list-icon-subimtCheck:focus i,.sys-table-table .list-icon-subimtCheck i{
  background: url(~@/assets/img/standard/icon-subimtCheckH.png) no-repeat;
}
.list-icon-subimtCheck.is-disabled:hover i,.list-icon-subimtCheck.is-disabled i{
  background: url(~@/assets/img/standard/icon-subimtCheckD.png) no-repeat;
}
// 可视化预览 查看回执 查看业务跟踪明细
.list-icon-scan i{
  background: url(~@/assets/img/standard/icon-scan.png) no-repeat;
}
.list-icon-scan:hover i,.list-icon-scan:focus i,.sys-table-table .list-icon-scan i{
  background: url(~@/assets/img/standard/icon-scanH.png) no-repeat;
}
.list-icon-scan.is-disabled i,.list-icon-scan.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-scanD.png) no-repeat;
}
// 智能制单 图标
.list-icon-AI i{
  background: url(~@/assets/img/standard/icon-ai.png) no-repeat;
}
.list-icon-AI:hover i,.list-icon-AI:focus i{
  background: url(~@/assets/img/standard/icon-aiH.png) no-repeat;
}
.list-icon-AI.is-disabled i,.list-icon-AI.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-aiD.png) no-repeat;
}
// 同步 图标
.list-icon-sync i{
  background: url(~@/assets/img/standard/icon-sync.png) no-repeat;
}
.list-icon-sync:hover i,.list-icon-sync:focus i,.sys-table-table .list-icon-sync i{
  background: url(~@/assets/img/standard/icon-syncH.png) no-repeat;
}
.list-icon-sync.is-disabled i,.list-icon-sync.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-syncD.png) no-repeat;
}
// 登账 图标
.list-icon-ledger i{
  background: url(~@/assets/img/standard/icon-ledger.png) no-repeat;
}
.list-icon-ledger:hover i,.list-icon-ledger:focus i,.sys-table-table .list-icon-ledger i{
  background: url(~@/assets/img/standard/icon-ledgerH.png) no-repeat;
}
.list-icon-ledger.is-disabled i,.list-icon-ledger.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-ledgerD.png) no-repeat;
}
// 新增 图标 通用
.list-icon-add i{
  background: url(~@/assets/img/standard/icon-add.png) no-repeat;
}
.list-icon-add:hover i,.list-icon-add:focus i{
  background: url(~@/assets/img/standard/icon-addH.png) no-repeat;
}
.list-icon-add.is-disabled i,.list-icon-add.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-addD.png) no-repeat;
}
// 复制 图标 通用
.list-icon-copy i{
  background: url(~@/assets/img/standard/icon-copy.png) no-repeat;
}
.list-icon-copy:hover i,.list-icon-copy:focus i{
  background: url(~@/assets/img/standard/icon-copyH.png) no-repeat;
}
.list-icon-copy.is-disabled i,.list-icon-copy.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-copyD.png) no-repeat;
}
// 可视化编辑 图标
.list-icon-viewEdit i{
  background: url(~@/assets/img/standard/icon-viewEdit.png) no-repeat;
}
.list-icon-viewEdit:hover i,.list-icon-viewEdit:focus i{
  background: url(~@/assets/img/standard/icon-viewEditH.png) no-repeat;
}
.list-icon-viewEdit.is-disabled i,.list-icon-viewEdit.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-viewEditD.png) no-repeat;
}
// 批量驳回
.list-icon-reject i{
  background: url(~@/assets/img/standard/icon-reject.png) no-repeat;
}
.list-icon-reject:hover i,.list-icon-reject:focus i{
  background: url(~@/assets/img/standard/icon-rejectH.png) no-repeat;
}
.list-icon-reject.is-disabled i,.list-icon-reject.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-rejectD.png) no-repeat;
}
// 批量审核
.list-icon-check i{
  background: url(~@/assets/img/standard/icon-check.png) no-repeat;
}
.list-icon-check:hover i,.list-icon-check:focus i{
  background: url(~@/assets/img/standard/icon-checkH.png) no-repeat;
}
.list-icon-check.is-disabled i,.list-icon-check.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-checkD.png) no-repeat;
}
// 状态回滚 回退 撤回
.list-icon-rollback i{
  background: url(~@/assets/img/standard/icon-rollback.png) no-repeat;
}
.list-icon-rollback:hover i,.list-icon-rollback:focus i,.sys-table-table .list-icon-rollback i{
  background: url(~@/assets/img/standard/icon-rollbackH.png) no-repeat;
}
.list-icon-rollback.is-disabled i,.list-icon-rollback.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-rollbackD.png) no-repeat;
}
// 刷新
.list-icon-refresh i{
  background: url(~@/assets/img/standard/icon-refresh.png) no-repeat;
}
.list-icon-refreshH i{
  background: url(~@/assets/img/standard/icon-refreshH.png) no-repeat;
}
.list-icon-refresh:hover i,.list-icon-refresh:focus i{
  background: url(~@/assets/img/standard/icon-refreshH.png) no-repeat;
}
.list-icon-refresh.is-disabled i,.list-icon-refresh.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-refreshD.png) no-repeat;
}
// 启用
.list-icon-enabled i{
  background: url(~@/assets/img/standard/icon-enabled.png) no-repeat;
}
.list-icon-enabled:hover i,.list-icon-enabled:focus i{
  background: url(~@/assets/img/standard/icon-enabledH.png) no-repeat;
}
.list-icon-enabled.is-disabled i,.list-icon-enabled.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-enabledD.png) no-repeat;
}
// 禁用
.list-icon-forbidden i{
  background: url(~@/assets/img/standard/icon-forbidden.png) no-repeat;
}
.list-icon-forbidden:hover i,.list-icon-forbidden:focus i{
  background: url(~@/assets/img/standard/icon-forbiddenH.png) no-repeat;
}
.list-icon-forbidden.is-disabled i,.list-icon-forbidden.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-forbiddenD.png) no-repeat;
}
// 绑定
.list-icon-binding i{
  background: url(~@/assets/img/standard/icon-binding.png) no-repeat;
}
.list-icon-binding:hover i,.list-icon-binding:focus i{
  background: url(~@/assets/img/standard/icon-bindingH.png) no-repeat;
}
.list-icon-binding.is-disabled i,.list-icon-binding.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-bindingD.png) no-repeat;
}
// 解绑
.list-icon-unbind i{
  background: url(~@/assets/img/standard/icon-unbind.png) no-repeat;
}
.list-icon-unbind:hover i,.list-icon-unbind:focus i{
  background: url(~@/assets/img/standard/icon-unbindH.png) no-repeat;
}
.list-icon-unbind.is-disabled i,.list-icon-unbind.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-unbindD.png) no-repeat;
}
.list-icon-close i{
  background: url(~@/assets/img/standard/icon-close.png) no-repeat;
}
.list-icon-closeH i{
  background: url(~@/assets/img/standard/icon-closeH.png) no-repeat;
}
.list-icon-close:hover i,.list-icon-close:focus i{
  background: url(~@/assets/img/standard/icon-closeH.png) no-repeat;
}
.list-icon-close.is-disabled i,.list-icon-close.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-closeD.png) no-repeat;
}
// 质疑磋商 异常状态
.list-icon-abnormal i{
  background: url(~@/assets/img/standard/icon-abnormal.png) no-repeat;
}
.list-icon-abnormal:hover i,.list-icon-abnormal:focus i{
  background: url(~@/assets/img/standard/icon-abnormalH.png) no-repeat;
}
.list-icon-abnormal.is-disabled i,.list-icon-abnormal.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-abnormalD.png) no-repeat;
}
// 自动申报
.list-icon-autodeclare i{
  background: url(~@/assets/img/standard/icon-autodeclare.png) no-repeat;
}
.list-icon-autodeclare:hover i,.list-icon-autodeclare:focus i,.sys-table-table .list-icon-autodeclare i{
  background: url(~@/assets/img/standard/icon-autodeclareH.png) no-repeat;
}
.list-icon-autodeclare.is-disabled:hover i,.list-icon-autodeclare.is-disabled i{
  background: url(~@/assets/img/standard/icon-autodeclareD.png) no-repeat;
}
// 取消自动申报
.list-icon-canceldeclare i{
  background: url(~@/assets/img/standard/icon-canceldeclare.png) no-repeat;
}
.list-icon-canceldeclare:hover i,.list-icon-canceldeclare:focus i,.sys-table-table .list-icon-canceldeclare i{
  background: url(~@/assets/img/standard/icon-canceldeclareH.png) no-repeat;
}
.list-icon-canceldeclare.is-disabled i,.list-icon-canceldeclare.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-canceldeclareD.png) no-repeat;
}
// 使用数据
.list-icon-use i{
  background: url(~@/assets/img/standard/icon-use.png) no-repeat;
}
.list-icon-useH i{ // 报关单页面特有
  background: url(~@/assets/img/standard/icon-useH.png) no-repeat;
}
.list-icon-use:hover i,.list-icon-use:focus i,.sys-table-table .list-icon-use i{
  background: url(~@/assets/img/standard/icon-useH.png) no-repeat;
}
.list-icon-use.is-disabled i,.list-icon-use.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-useD.png) no-repeat;
}
// 对账 批量对账
.list-icon-accountPass i{
  background: url('~@/assets/img/standard/icon-accountPass.png') no-repeat;
}
.list-icon-accountPass:hover i,.list-icon-accountPass:focus i,.sys-table-table .list-icon-accountPass i{
  background: url('~@/assets/img/standard/icon-accountPassH.png') no-repeat;
}
.list-icon-accountPass.is-disabled i, .list-icon-accountPass.is-disabled:hover i {
  background: url('~@/assets/img/standard/icon-accountPassD.png') no-repeat;
}
// 开票
.list-icon-invoice i{
  background: url('~@/assets/img/standard/icon-invoice.png') no-repeat;
}
.list-icon-invoice:hover i,.list-icon-invoice:focus i,.sys-table-table .list-icon-invoice i{
  background: url('~@/assets/img/standard/icon-invoiceH.png') no-repeat;
}
.list-icon-invoice.is-disabled:hover i,.list-icon-invoice.is-disabled i {
  background: url('~@/assets/img/standard/icon-invoiceD.png') no-repeat;
}
// 发票结案
.list-icon-case i{
  background: url('~@/assets/img/standard/icon-case.png') no-repeat;
}
.list-icon-case:hover i,.list-icon-case:focus i,.sys-table-table .list-icon-case i{
  background: url('~@/assets/img/standard/icon-caseH.png') no-repeat;
}
.list-icon-case.is-disabled:hover i,.list-icon-case.is-disabled i{
  background: url('~@/assets/img/standard/icon-caseD.png') no-repeat;
}
// 保存
.list-icon-save i{
  background: url(~@/assets/img/standard/icon-save.png) no-repeat;
}
.list-icon-save:hover i,.list-icon-save:focus i{
  background: url(~@/assets/img/standard/icon-saveH.png) no-repeat;
}
.list-icon-save.is-disabled i,.list-icon-save.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-saveD.png) no-repeat
}
// 警告 预警
.list-icon-warning i{
  background: url(~@/assets/img/standard/icon-warning.png) no-repeat;
}
.list-icon-warning:hover i,.list-icon-warning:focus i,.sys-table-table .list-icon-warning i{
  background: url(~@/assets/img/standard/icon-warningH.png) no-repeat;
}
.list-icon-warning.is-disabled i,.list-icon-warning.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-warningD.png) no-repeat
}
// 物流跟踪  状态跟踪
.list-icon-tailAfter i{
  background: url(~@/assets/img/standard/icon-tailAfter.png) no-repeat;
}
.list-icon-tailAfter:hover i,.list-icon-tailAfter:focus i,.sys-table-table .list-icon-tailAfter i{
  background: url(~@/assets/img/standard/icon-tailAfterH.png) no-repeat;
}
.list-icon-tailAfter.is-disabled i,.list-icon-tailAfter.is-disabled:hover i{
  background: url(~@/assets/img/standard/icon-tailAfterD.png) no-repeat
}
// 平账
.list-icon-pa i{
  background: url('~@/assets/img/standard/icon-pa.png') no-repeat;
}
.list-icon-pa:hover i,.list-icon-pa:focus i,.sys-table-table .list-icon-pa i{
  background: url('~@/assets/img/standard/icon-paH.png') no-repeat;
}
.list-icon-pa.is-disabled:hover i,.list-icon-pa.is-disabled i{
  background: url('~@/assets/img/standard/icon-paD.png') no-repeat;
}
// 平账记录
.list-icon-paR i{
  background: url('~@/assets/img/standard/icon-paR.png') no-repeat;
}
.list-icon-paR:hover i,.list-icon-paR:focus i,.sys-table-table .list-icon-paR i{
  background: url('~@/assets/img/standard/icon-paRH.png') no-repeat;
}
.list-icon-paR.is-disabled:hover i {
  background: url('~@/assets/img/standard/icon-paRD.png') no-repeat;
}
// 使用报价
.list-icon-useOffer i{
  background: url(~@/assets/img/standard/useOffer.png) no-repeat;
}
.list-icon-useOffer:hover i,.list-icon-useOffer:focus i,.sys-table-table .list-icon-useOffer i{
  background: url(~@/assets/img/standard/useOfferH.png) no-repeat;
}
.list-icon-useOffer.is-disabled:hover i {
  background: url('~@/assets/img/standard/useOfferD.png') no-repeat;
}
// 请款
.list-icon-approval i{
  background: url('~@/assets/img/standard/approval.png') no-repeat;
}
.list-icon-approval:hover i,.list-icon-approval:focus i,.sys-table-table .list-icon-approval i{
  background: url('~@/assets/img/standard/approvalH.png') no-repeat;
}
.list-icon-approval.is-disabled:hover i {
  background: url('~@/assets/img/standard/approvalD.png') no-repeat;
}
// 加入已有对账单
.list-icon-joinAccount i{
  background: url('~@/assets/img/standard/joinAccount.png') no-repeat;
}
.list-icon-joinAccount:hover i,.list-icon-joinAccount:focus i,.sys-table-table .list-icon-joinAccount i{
  background: url('~@/assets/img/standard/joinAccountH.png') no-repeat;
}
.list-icon-joinAccount.is-disabled:hover i,.list-icon-joinAccount.is-disabled i {
  background: url('~@/assets/img/standard/joinAccountD.png') no-repeat;
}

 .table-disabled-download i{
  background: url(~@/assets/img/standard/icon-download.png) no-repeat;
}
.table-disabled-downloadH i{
  background: url(~@/assets/img/standard/icon-downloadH.png) no-repeat;
}
