.sys-class {
  .custom-icons-menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
  }
  // // 厂商管理
  // .icons-menu-admin {
  //   background: url("../img/icon-aside/admin.png") no-repeat;
  // }
  // 合同列表
  .icons-menu-contractList {
    background: url("../img/icon-aside/contractList.png") no-repeat;
  }
  // 合同审核
  .icons-menu-contractCheck {
    background: url("../img/icon-aside/contractCheck.png") no-repeat;
  }
  // 逻辑检控设置
  .icons-menu-setting {
    background: url("../img/icon-aside/setting.png") no-repeat;    
  }
  // 进出口模板
  .icons-menu-iEDefault {
    background: url("../img/icon-aside/ie-default.png") no-repeat;        
  }
  // 接单
  .icons-menu-receipt {
    background: url("../img/icon-aside/receipt.png") no-repeat;            
  }
  // 关联整合申报
  .icons-menu-decCheck {
    background: url("../img/icon-aside/dec-check.png") no-repeat;                
  }
  // 报关单审核
  .icons-menu-declare {
    background: url("../img/icon-aside/declare.png") no-repeat;   
  }
  // 核注清单审核
  .icons-menu-taxReviewed {
    background: url("../img/icon-aside/taxReviewed.png") no-repeat;   
  }
  // 业务数据查询
  .icons-menu-dataQuery {
    background: url("../img/icon-aside/data-search.png") no-repeat; 
  }
  // 许可证管理
  .icons-menu-allows {
    background: url("../img/icon-aside/allows.png") no-repeat; 
  }
  // 证书管理
  .icons-menu-certificate {
    background: url("../img/icon-aside/certificate.png") no-repeat; 
  }
  // 业务单证管理
  .icons-menu-jobsLicense {
    background: url("../img/icon-aside/jobsLicense.png") no-repeat; 
  }
  // 客户管理
  .icons-menu-customer {
    background: url("../img/icon-aside/customer.png") no-repeat;
  }
  // 单证池
  .icons-menu-license {
    background: url("../img/icon-aside/license.png") no-repeat; 
  }
  // 商品资料库
  .icons-menu-productInfo {
    background: url("../img/icon-aside/productInfo.png") no-repeat; 
  }
  // 通关代码
  .icons-menu-passCode {
    background: url("../img/icon-aside/passCode.png") no-repeat; 
  }
  // 商品申报参数
  .icons-menu-productParams {
    background: url("../img/icon-aside/productParams.png") no-repeat; 
  }
  // 汽车申报参数
  .icons-menu-carParams {
    background: url("../img/icon-aside/carParams.png") no-repeat; 
  }
  // 舱单查询
  .icons-menu-airQuery {
    background: url("../img/icon-aside/airQuery.png") no-repeat; 
  }
  // 报关单查询
  .icons-menu-decQuery {
    background: url("../img/icon-aside/decQuery.png") no-repeat; 
  }
  // 业务报表
  .icons-menu-jobsList {
    background: url("../img/icon-aside/jobsList.png") no-repeat; 
  }
  // KPI报表
  .icons-menu-kpiList {
    background: url("../img/icon-aside/kpiList.png") no-repeat; 
  }
  // 合同管理
  .icons-menu-conManage {
    background: url("../img/icon-aside/conManage.png") no-repeat; 
  }
  // 邀请报价
  .icons-menu-proPrice {
    background: url("../img/icon-aside/proPrice.png") no-repeat; 
  }
  // 报价管理
  .icons-menu-priceManage {
    background: url("../img/icon-aside/priceManage.png") no-repeat; 
  }
  // 费用评估
  .icons-menu-priceConsider {
    background: url("../img/icon-aside/priceConsider.png") no-repeat; 
  }
  // 费用台账
  .icons-menu-account {
    background: url("../img/icon-aside/account.png") no-repeat; 
  }
  // 账单管理
  .icons-menu-accountManage {
    background: url("../img/icon-aside/accountManage.png") no-repeat; 
  }
  // 发票管理
  .icons-menu-ticketManage {
    background: url("../img/icon-aside/ticketManage.png") no-repeat; 
  }
  // 备案管理
  .icons-menu-beianManage {
    background: url("../img/icon-aside/beianManage.png") no-repeat; 
  }
  // 进境/港申报
  .icons-menu-importLare {
    background: url("../img/icon-aside/importLare.png") no-repeat; 
  }
  // 在港申报
  .icons-menu-inLare {
    background: url("../img/icon-aside/inLare.png") no-repeat; 
  }
  // 出境/港申报
  .icons-menu-outLare {
    background: url("../img/icon-aside/outLare.png") no-repeat; 
  }
  // 进境/港申报
  .icons-menu-ieport {
    background: url("../img/icon-aside/ieport.png") no-repeat; 
  }
  // 电子底账
  .icons-menu-beianJobs {
    background: url("../img/icon-aside/beianJobs.png") no-repeat; 
  }
  // 通关作业
  .icons-menu-lareJobs {
    background: url("../img/icon-aside/lareJobs.png") no-repeat; 
  }
  // 核销核算
  .icons-menu-baoheJobs {
    background: url("../img/icon-aside/baoheJobs.png") no-repeat; 
  }
  // 外发加工
  .icons-menu-czhanJobs {
    background: url("../img/icon-aside/czhanJobs.png") no-repeat; 
  }
  // 场站作业
  .icons-menu-czjb {
    background: url("../img/icon-aside/czjb.png") no-repeat; 
  }
  // 场站作业查询
  .icons-menu-czjbquery {
    background: url("../img/icon-aside/czjbquery.png") no-repeat; 
  }
  // 账册/手册 数据录入
  .icons-menu-dataInfo {
    background: url("../img/icon-aside/dataInput.png") no-repeat; 
  }
  // 申报表
  .icons-menu-decForm {
    background: url("../img/icon-aside/decForm.png") no-repeat; 
  }
  // 收发货单
  .icons-menu-goodsBill {
    background: url("../img/icon-aside/goodsBill.png") no-repeat; 
  }
  // 综合查询
  .icons-menu-queryList {
    background: url("../img/icon-aside/queryList.png") no-repeat; 
  }
  // 同步申报表
  .icons-menu-synDecForm {
    background: url("../img/icon-aside/synDecForm.png") no-repeat; 
  }
  // 快件舱单
  .icons-menu-shipBill {
    background: url("../img/icon-aside/expressShip.png") no-repeat; 
  }
  // 快件报关单
  .icons-menu-declareBill {
    background: url("../img/icon-aside/expressDec.png") no-repeat; 
  }
  // 快件舱单
  .icons-menu-decRegister {
    background: url("../img/icon-aside/decRegister.png") no-repeat;
  }
  // 进口制单
  .icons-menu-importDec {
    background: url("../img/icon-aside/importDec.png") no-repeat; 
  }
  // 出口制单
  .icons-menu-exportDec {
    background: url("../img/icon-aside/exportDec.png") no-repeat;
  }
  // 报价管理
  .icons-finance-offerManage {
    background: url("../img/icon-aside/offerManage.png") no-repeat;
  }
  // 发票管理
  .icons-finance-ticket {
    background: url("../img/icon-aside/ticketManage.png") no-repeat;
  }
  // 费用台账
  .icons-finance-offerAccount {
    background: url("../img/icon-aside/account.png") no-repeat;
  }
  // 费用项管理
  .icons-finance-accountManage {
    background: url("../img/icon-aside/account-finance-manage.png") no-repeat;
  }
  // 费用预估
  .icons-finance-computeFinance {
    background: url("../img/icon-aside/compute-finance.png") no-repeat;
  }
  // 邀请报价
  .icons-finance-receiveCost {
  background: url("../img/icon-aside/receiveCost.png") no-repeat;
  }
  // 账单管理
  .icons-finance-accountManage {
  background: url("../img/icon-aside/accountManage.png") no-repeat;
  }
}