/**************************Clear Default Style***********************/
html, body { width: 100%;height: 100%;overflow: hidden;font-size: 13px;font-family: "Microsoft YaHei","微软雅黑";}
ul, ol, dl, li, dt, dd {list-style-type: none;}
body {
  margin: 0;
  padding: 0;
}
/* 清除img间距 */
img {vertical-align: middle;-ms-interpolation-mode:bicubic; }
/* 清除a标签下划线 */
a, a:hover, a:active, a:focus {color: inherit;text-decoration: none;}
/* 清border */
a, img, button::-moz-focus-inner, input::-moz-focus-inner {border: none;}
/* 禁止长按链接与图片弹出菜单 */
a img { -webkit-touch-callout: none; }
/* 清除点击的灰色区域 */
div, a, img, p { -webkit-tap-highlight-color: transparent;}
// -webkit-touch-callout: none;-webkit-user-select: none;user-select: none;
/* Chrome  IE 10+  Firefox 19+  Firefox 4 - 18  placeholder重置*/
::-webkit-input-placeholder { color: @font-color-placeholder; }
:-ms-input-placeholder { color: @font-color-placeholder; }
::-moz-placeholder { color: @font-color-placeholder; opacity: 1; }
:-moz-placeholder { color: @font-color-placeholder;  opacity: 1; }
/**************************reset elementui Style***********************/

// 公共样式开始
.text-cut { // 单行溢出省略号
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after { // 清除浮动
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.cursor{
  cursor: pointer;
}
// 公共样式结束
// ccba 官网样式开始
.www {
  // 公共样式
   ol, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, a, img, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    /* css3 盒子模型, 好处: 设置宽高后, 如果有padding或者border 自动内减 */
    box-sizing: border-box;
  }
  .pro,.intel,.effi {
    div {
      box-sizing: border-box;
    }
    .title {
      margin-bottom: 40px;
    }
  }
  .header {
    ul {
      margin: 0;
    }
  }
  .aboutUs .detail .text {
    box-sizing: border-box;
  }
  article, aside, footer, header, nav, section {
    display: block;
  }

  ul,ol{
    list-style:none;
  }

  a,
  a:hover,
  a:active,
  a:link{
    font-family: 'microsoft yahei';
    text-decoration: none;
    /* 取消链接高亮 tap 轻触  */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
  }
  img {
    width: 100%;
    /*解决图片底部对齐问题*/
    display: block;
    border: none;
  }

  h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
  }

  /* 解决图片下面留白的问题 */
  img {
      vertical-align: top;
  }

  em, i, u {
      font-style: normal;
  }

  /*去除边框*/
  // fieldset, img, input, button, textarea {
  //   border: none;
  //   /*去除的蓝色小边框*/
  //   outline-style: none;
  // }

  textarea {
    resize: none;
    -webkit-appearance: none;
  }

  .fl{
    float: left;
  }

  .fr{
    float: right;
  }

  .txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    /* 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。	 */
    
    /* -webkit-box-orient: vertical; */
    /* 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。 */

    /* -webkit-line-clamp: 2; */
    /* 用来限制在一个块元素显示的文本的行数。 为了实现该效果，它需要组合其他的WebKit属性。 */

  }

  /* 超出两行隐藏 */
  .txt-cut-2{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden; /** 隐藏超出的内容 **/
  }
  /* 超出3行隐藏 */
  .txt-cut-3{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 3; /** 显示的行数 **/
    -moz-box-orient: vertical;
    -moz-line-clamp: 3;
    overflow: hidden; /** 隐藏超出的内容 **/
  }


  /* 清除浮动 */
  .clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  .clearfix {
      *zoom: 1;
  }

  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .mainer {
    width: 1000px;
    margin: 0 auto;
  }
  .none {
    display: none;
  }
  .big {
    font-size: 22px;
    color: #2E2E2E;
    font-weight: bold;
    text-align: center;
  }
  .light {
    color: #999;
    font-size: 16px;
    text-align: center;
    margin: 5px 0 20px 0;
  }
  .el-tooltip__popper.is-dark {
    background-color: #0b5ba0;
  }
  .el-tooltip__popper .popper__arrow, 
  .el-tooltip__popper .popper__arrow::after {
    border-top-color: #0b5ba0!important;
  }
    .el-form-item__label {
      line-height: 20px;
    }
    .el-card {
      transition: all 1s;
    }
    .el-card:hover {
      transform: translateY(-15px);
      box-shadow: 1px 10px 1px rgba(0, 0, 0, 0)
    }

}
// ccba 官网样式结束
// ccba工作台样式开始
.el-popper .popper__arrow, .el-popper .popper__arrow::after {
  display: none!important;
  border: none;
}
.sys-errors{
  position: relative;
  width: 100%;
  height: 100%;
}
.err-404{
  background: url('../img/error/404.png') no-repeat center center;
}
.err-500{
  background: url('../img/error/500.png') no-repeat center center;
}
.err-wait{
  background: url('../img/error/wait.png') no-repeat center center;
}
.el-loading-mask{
  left: 5px;
  background-color: rgba(0,0,0,.2);
}
// 控制台样式
.ccba-control.el-dropdown-menu {
    height: auto!important;
    max-height:none;
    padding: 0;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    text-align: center;
    .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
      background-color: transparent;
      color: inherit;
    }
    .el-dropdown-menu__item{
      // height: 36px;
      cursor:auto;
      background-color: #fff;
      &:hover {
        background-color:transparent;
      }
    }
    .line::after {
      content:'';
      height:20px;
      border-right: 1px solid #999;
      position:absolute;
      right: -2px;
      top: 0;
    }
    .dropDown-top {
      // width: 400px;
      box-sizing: border-box;
      padding: 90px 30px 20px 30px;
    }
    .dropDown-bottom {
      padding: 0;
    }
  }
.ccba-control {
  .el-menu {
    border-right: none;
  }
  .el-dropdown{
    color: #fff;
    cursor: pointer;
  }
  .el-tabs__nav {
    float: right;
  }
  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }
  .el-tabs__active-bar {
    padding: 0 6px;
    left: -6px;
  }
  .news {
    .el-tabs__active-bar {
      padding: 0 6px;
      left: -3px;
    }
    .el-tabs__active-bar .is-top {
      width: 46px!important;
    }
  }
  .el-tabs__item {
    // float: right;
    height: 30px;
    line-height: 30px;
    color: @font-color-title;
    padding: 0 10px;
    &:hover {
      color: @font-color-main;
    }
  }
  .el-tabs__item.is-active {
    color: @font-color-main;
  }
  .el-tabs--bottom .el-tabs__item.is-bottom:last-child, 
  .el-tabs--bottom .el-tabs__item.is-top:last-child, 
  .el-tabs--top .el-tabs__item.is-bottom:last-child, 
  .el-tabs--top .el-tabs__item.is-top:last-child {
    margin-right: 20px;
  }
  .el-date-editor--daterange.el-input, 
  .el-date-editor--daterange.el-input__inner, 
  .el-date-editor--timerange.el-input, 
  .el-date-editor--timerange.el-input__inner {
    width: 230px;
    border-radius: 20px;
  }
  // .el-range-input {
  //   width: 80px!important;
  // }
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-form-item__label {
    font-size: 12px;
  }
  .ccba-table {
    .el-table td, 
    .el-table th.is-leaf {
      border-bottom: none;
    }
    .el-table tr:nth-child(2n+1) {
      background-color: #f5f5f5;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
      background-color: #fff;
    }
    .el-table th>.cell,
    .el-table tr .cell {
      font-weight: normal;
      color: @font-color-main;
      font-size: 12px;
    }
    .el-table th:nth-child(1) .cell{
      display: none;
    }
    // .el-table th:nth-child(2) .cell{
    //   display: none;
    // }
    .el-table td, .el-table th {
      padding: 3px 0;
    }
  }
  .banner .el-carousel__button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @font-color-placeholder;
  }
  .el-carousel__indicator.is-active button {
    background-color: @aid-color-main;
  }
  
    .el-badge__content.is-fixed{
      right: 20px;
    }
    .el-badge__content {
        background-color: #f56c6c;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        height: 20px;
        width: 20px;
        line-height: 18px;
        padding: 0;
        text-align: center;
        white-space: nowrap;
        border: none;
    }
    
    p {
      margin: 0;
      padding: 0;
    }
    .el-radio-group {
      width: 100%;
    }
    .radioSelect {
      margin-bottom: 10px;
      width: 100%;
    }
    .el-dialog--center {
      text-align: left;
    }
    .myCenter {
      padding: 25px 0;
      span {
        padding: 0 25px;
        position: relative;
        cursor: pointer;
        &:hover {
          color: @sys-color-main;
        }
      }
    }
    .loginOut {
      width: 100%;
      height: 50px;
      color: #fff;
      background-color: @sys-color-red;
      &:hover {
        background-color: @sys-color-red;
      }
  
    }
    .el-radio__input.is-checked+.el-radio__label {
      color: @sys-color-main;
    }
    .el-radio__input.is-checked .el-radio__inner {
      border-color: @sys-color-main;
      background: @sys-color-main;
    }
    .el-dialog__footer {
      display: flex;
      justify-content: center;
      padding-top: 0;
      button {
        background-color: @sys-color-main;
        border-color:@sys-color-main
      }
    }
}
.sys-class {
  .el-radio__input.is-checked+.el-radio__label {
    color: @sys-color-main;
  }
  .el-radio__input.is-checked .el-radio__inner {
    border-color: @sys-color-main;
    background: @sys-color-main;
  }
  .el-dialog__footer {
    display: flex;
    justify-content: center;
    padding-top: 0;
    button {
      background-color: @sys-color-main;
      border-color:@sys-color-main
    }
  }
  .el-radio-group {
    width: 100%;
  }
  .radioSelect {
    margin-bottom: 10px;
    width: 100%;
  }
  .el-dialog--center {
    text-align: left;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color:#e4e7ed;
    background-color: #E5F2FF;
  }
  .el-header {
    padding: 0;
    background-color:@sys-color-main;
  }
  .el-main{
    padding: 0;
    background-color: @sys-color-gray;
    height: 100%;
    overflow: auto;
  }
  // .el-menu>.is-opened>
  .el-menu {
    border-right: none;
  }
  .el-menu>.el-menu-item {
    border-left: 3px solid transparent;
  }
  .el-menu>.is-active{
    border-left: 3px solid @sys-color-main;
  }
  .el-menu-item:focus, 
  .el-menu-item:hover {
    background-color: transparent;
  }
  .el-submenu__title:hover {
    background-color: transparent;
  }
  .is-opened>.el-menu {
    background-color: @sys-color-gray;
    // width: 200px;
  }
  .el-submenu.is-opened {
    background-color: @sys-color-gray;
  }
  .is-active.is-opened {
    border-left: none;
  }
  .el-submenu.is-active {
    border-left: none;
  }
  .el-menu-item {
    padding-right: 0;
    margin-right: 20px;
  }
  .el-submenu>.el-menu>.el-menu-item {
    box-sizing: border-box;
    padding-left: 60px!important;
    width: 100%;
    margin-right: 0px;
    min-width:100%;
  }
  .el-menu>.el-menu-item {
    padding-left: 17px!important;
    margin: 4px 0;
    height: 40px;
    line-height: 40px;
    >.el-tooltip {
      padding-left: 17px!important;
    }
  }
  .el-submenu__title{
    border-left: 3px solid transparent;
    padding-left: 17px!important;
    // padding-right: 17px!important;
    // width: 200px;
    height: 50px;
    line-height: 50px;
  }
  .el-submenu>.el-menu>.el-submenu>.el-submenu__title{
    padding-left: 60px!important;
    border-left: 3px solid transparent;
  }
  .el-submenu>.el-menu>.el-submenu>.el-menu>.el-menu-item{
    padding-left: 70px!important;
  }
  .el-submenu__icon-arrow {
    right: auto;
    margin-top: -5px;
    left: 170px;
    font-size: 14px;
    color: @font-color-main;
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
  }
  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
