/**************************Clear Default Style***********************/
html, body { width: 100%;height: 100%;overflow: hidden;font-size: 13px;font-family: "Microsoft YaHei","微软雅黑";}
ul, ol, dl, li, dt, dd {list-style-type: none;}
body {
  margin: 0;
  padding: 0;
}
/* 清除img间距 */
img {vertical-align: middle;-ms-interpolation-mode:bicubic; }
/* 清除a标签下划线 */
a, a:hover, a:active, a:focus {color: inherit;text-decoration: none;}
/* 清border */
a, img, button::-moz-focus-inner, input::-moz-focus-inner {border: none;}
/* 禁止长按链接与图片弹出菜单 */
a img { -webkit-touch-callout: none; }
/* 清除点击的灰色区域 */
div, a, img, p { -webkit-tap-highlight-color: transparent;}
// -webkit-touch-callout: none;-webkit-user-select: none;user-select: none;
/* Chrome  IE 10+  Firefox 19+  Firefox 4 - 18  placeholder重置*/
::-webkit-input-placeholder { color: @font-color-placeholder; }
:-ms-input-placeholder { color: @font-color-placeholder; }
::-moz-placeholder { color: @font-color-placeholder; opacity: 1; }
:-moz-placeholder { color: @font-color-placeholder;  opacity: 1; }
/**************************reset elementui Style***********************/

// 公共样式开始
.text-cut { // 单行溢出省略号
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after { // 清除浮动
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.cursor{
  cursor: pointer;
}
.el-input__inner{
  border: 1px solid @line-color-input;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0 8px;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border: 1px solid @line-color-input;
  outline: 0;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: @line-color-input;
}
.el-input.is-disabled .el-input__inner{
  color: @font-color-title;
  font-size: 14px;
  background-color: #f5f5f5;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background-color: @sys-color-main;
  border-color: @sys-color-main;
}
.mg-b-15{
  margin-bottom: 15px;
}
.mg-b-20{
  margin-bottom: 20px;
}
// 公共样式结束
// ccba 官网样式开始
.www {
  // 公共样式
   ol, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, a, img, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    /* css3 盒子模型, 好处: 设置宽高后, 如果有padding或者border 自动内减 */
    box-sizing: border-box;
  }
  .map {
    .sample {
      /* background: rgba(0,0,0,0.5); */
      overflow: hidden;
      box-shadow: 0 0 5px #000;
      color: #fff;
      text-align: center;
      position: absolute;
      background: rgba(0,0,0,.5);
      display: none;
    }
    .text {
      padding: 10px 10px;
      width: 100px;
    }
    .sample.active {
      display: block;
    }
  }
  .pro,.intel,.effi {
    div {
      box-sizing: border-box;
    }
    .title {
      margin-bottom: 40px;
    }
  }
  .header {
    ul {
      margin: 0;
    }
  }
  .aboutUs .detail .text {
    box-sizing: border-box;
  }
  article, aside, footer, header, nav, section {
    display: block;
  }

  ul,ol{
    list-style:none;
  }

  a,
  a:hover,
  a:active,
  a:link{
    font-family: 'microsoft yahei';
    text-decoration: none;
    /* 取消链接高亮 tap 轻触  */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
  }
  img {
    width: 100%;
    /*解决图片底部对齐问题*/
    display: block;
    border: none;
  }

  h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
  }

  /* 解决图片下面留白的问题 */
  img {
      vertical-align: top;
  }

  em, i, u {
      font-style: normal;
  }

  /*去除边框*/
  // fieldset, img, input, button, textarea {
  //   border: none;
  //   /*去除的蓝色小边框*/
  //   outline-style: none;
  // }

  textarea {
    resize: none;
    -webkit-appearance: none;
  }

  .fl{
    float: left;
  }

  .fr{
    float: right;
  }

  .txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    /* 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。	 */
    
    /* -webkit-box-orient: vertical; */
    /* 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。 */

    /* -webkit-line-clamp: 2; */
    /* 用来限制在一个块元素显示的文本的行数。 为了实现该效果，它需要组合其他的WebKit属性。 */

  }

  /* 超出两行隐藏 */
  .txt-cut-2{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden; /** 隐藏超出的内容 **/
  }
  /* 超出3行隐藏 */
  .txt-cut-3{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 3; /** 显示的行数 **/
    -moz-box-orient: vertical;
    -moz-line-clamp: 3;
    overflow: hidden; /** 隐藏超出的内容 **/
  }


  /* 清除浮动 */
  .clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  .clearfix {
      *zoom: 1;
  }

  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .mainer {
    width: 1000px;
    margin: 0 auto;
  }
  .none {
    display: none;
  }
  .big {
    font-size: 20px;
    color: #2E2E2E;
    font-weight: bold;
    text-align: center;
  }
  .light {
    color: #999;
    font-size: 16px;
    text-align: center;
    margin: 5px 0 20px 0;
  }

  
  .el-button:hover {
    background-color: transparent!important;
  }
  
  .el-tooltip__popper.is-dark {
    background-color: #0b5ba0;
  }
  .el-tooltip__popper .popper__arrow, 
  .el-tooltip__popper .popper__arrow::after {
    border-top-color: #0b5ba0!important;
  }
    .el-form-item__label {
      line-height: 20px;
    }
    .el-card {
      transition: all 1s;
    }
    .el-card:hover {
      transform: translateY(-15px);
      box-shadow: 1px 10px 1px rgba(0, 0, 0, 0)
    }

}
// ccba 官网样式结束
// ccba工作台样式开始
.ccba-control.el-popper .popper__arrow,
.ccba-control.el-popper .popper__arrow::after {
  display: none!important;
  border: none;
}
.sys-errors{
  position: relative;
  width: 100%;
  height: 100%;
}
.err-404{
  background: url('../img/error/404.png') no-repeat center center;
}
.err-500{
  background: url('../img/error/500.png') no-repeat center center;
}
.err-wait{
  background: url('../img/error/wait.png') no-repeat center center;
}
.el-loading-mask{
  z-index: 3004;
  // left: 5px;
  background-color: rgba(0,0,0,.1);
}
// 控制台样式
.ccba-control-detail.detail img {
  max-width: 100%;
}
.ccba-control.el-dropdown-menu {
    height: auto!important;
    max-height:none!important;
    padding: 0;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    text-align: center;
    .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
      background-color: transparent;
      color: inherit;
    }
    .el-dropdown-menu__item{
      // height: 36px;
      cursor:auto;
      background-color: #fff;
      &:hover {
        background-color:transparent;
      }
    }
    .line::after {
      content:'';
      height:20px;
      border-right: 1px solid #999;
      position:absolute;
      right: -2px;
      top: 0;
    }
    .dropDown-top {
      // width: 400px;
      box-sizing: border-box;
      padding: 90px 30px 20px 30px;
    }
    .dropDown-bottom {
      padding: 0;
    }
  }
.ccba-control {
  .el-dialog__wrapper {
    z-index: 3002!important;
  }
  .el-menu {
    border-right: none;
  }
  .el-dropdown{
    color: #fff;
    cursor: pointer;
  }
  .el-tabs__nav {
    float: right;
  }
  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }
  .el-tabs__active-bar {
    padding: 0 6px;
    left: -6px;
  }

  .news,.board {
    .el-tabs__active-bar {
      padding: 0 6px;
      left: -3px;
      display: none;
    }
    .el-tabs__item.is-top:nth-child(2) {
      padding-left: 10px!important;
    }
    .el-tabs__item.is-top:last-child {
      padding-right: 10px!important;
      margin-right: 45px!important;
    }
  }
  .el-tabs__item.is-active{
    border-bottom: 2px solid #409EFF;
  }
  .board .el-tabs__item.is-active {
    border-bottom: 2px solid transparent;
  }
  .el-tabs__item {
    // float: right;
    height: 30px;
    border-bottom: 2px solid transparent;
    line-height: 30px;
    color: @font-color-title;
    padding: 0 10px;
    margin: 0 10px;
    &:hover {
      color: @font-color-main;
    }
  }
  .el-tabs__item.is-active {
    color: @font-color-main;
  }
  .el-tabs--bottom .el-tabs__item.is-bottom:last-child, 
  .el-tabs--bottom .el-tabs__item.is-top:last-child, 
  .el-tabs--top .el-tabs__item.is-bottom:last-child, 
  .el-tabs--top .el-tabs__item.is-top:last-child {
    margin-right: 45px;
  }
  .el-date-editor--daterange.el-input, 
  .el-date-editor--daterange.el-input__inner, 
  .el-date-editor--timerange.el-input, 
  .el-date-editor--timerange.el-input__inner {
    width: 230px;
    border-radius: 20px;
  }
  .el-input__inner{
    border-radius: 20px;
  }
  // .el-range-input {
  //   width: 80px!important;
  // }
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-form-item__label {
    font-size: 12px;
  }
  .ccba-table {
    .el-table td, 
    .el-table th.is-leaf {
      border-bottom: none;
    }
    .el-table tr:nth-child(2n+1) {
      background-color: #f5f5f5;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
      background-color: #fff;
    }
    .el-table th>.cell,
    .el-table tr .cell {
      font-weight: normal;
      color: @font-color-main;
      font-size: 12px;
    }
    .el-table th:nth-child(1) .cell{
      display: none;
    }
    // .el-table th:nth-child(2) .cell{
    //   display: none;
    // }
    .el-table td, .el-table th {
      padding: 3px 0;
    }
    .el-table::before{
      background-color: transparent;
    }
  }
  .banner .el-carousel__button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @font-color-placeholder;
  }
  .el-carousel__indicator.is-active button {
    background-color: @aid-color-main;
  }
  
    .el-badge__content.is-fixed{
      right: 20px;
    }
    .el-badge__content {
        background-color: #f56c6c;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        height: 20px;
        width: 20px;
        line-height: 18px;
        padding: 0;
        text-align: center;
        white-space: nowrap;
        border: none;
    }
    
    p {
      margin: 0;
      padding: 0;
    }
    .el-radio-group {
      width: 100%;
    }
    .radioSelect {
      margin-bottom: 10px;
      width: 100%;
    }
    .el-dialog--center {
      text-align: left;
    }
    .myCenter {
      padding: 25px 0;
      span {
        padding: 0 25px;
        position: relative;
        cursor: pointer;
        &:hover {
          color: @sys-color-main;
        }
      }
    }
    .loginOut {
      width: 100%;
      height: 50px;
      color: #fff;
      background-color: @sys-color-red;
      &:hover {
        background-color: @sys-color-red;
      }
  
    }
    .el-radio__input.is-checked+.el-radio__label {
      color: @sys-color-main;
    }
    .el-radio__input.is-checked .el-radio__inner {
      border-color: @sys-color-main;
      background: @sys-color-main;
    }
    .el-dialog__footer {
      display: flex;
      justify-content: center;
      padding-top: 0;
      button {
        background-color: @sys-color-main;
        border-color:@sys-color-main
      }
    }
    .checkboxSet {
      .el-checkbox{
        margin: 0 0 20px 35px;
        width: 120px;
      }
      .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: @sys-color-main;
        border-color: @sys-color-main;
      }
      .el-checkbox__input.is-checked+.el-checkbox__label{
        color: @sys-color-main;
      }
    }
    .taxrule-table {
      thead th>.cell{
        color: @font-color-main;
        font-weight: normal;
        text-align: center;
      }
      tbody tr{
        background-color: #f5f5f5;
      }
      td,th.is-leaf {
        border-bottom: none;
      }
      .el-table__empty-block {
        align-items: inherit;
      }
      .el-table__empty-text {
        width: 100%;
        height: 40px;
        background-color: #f4f8fc;
        color: #999;
        line-height: 40px;
      }
    }
    .taxrule-table:before{
      background-color: #fff;
    }
}
.airvehicle-table-popper {
  min-width: auto;
  ul {
    margin: 0;
  padding: 0;
  }
}
// 2.0系统样式
.sys-class {
  .el-dialog__wrapper {
    z-index: 3002!important;
  }
  .el-radio__input.is-checked+.el-radio__label {
    color: @sys-color-main;
  }
  .el-radio__input.is-checked .el-radio__inner {
    border-color: @sys-color-main;
    background: @sys-color-main;
  }
  .el-dialog__footer {
    display: flex;
    justify-content: center;
    padding-top: 0;
    button.el-button--primary {
      background-color: @sys-color-main;
      border-color:@sys-color-main
    }
  }
  .el-radio-group {
    width: 100%;
  }
  .radioSelect {
    margin-bottom: 10px;
    width: 100%;
  }
  .el-dialog--center {
    text-align: left;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color:#e4e7ed;
    background-color: #E5F2FF;
  }
  .el-header {
    padding: 0;
    background-color:@sys-color-main;
  }
  .el-main{
    padding: 0;
    background-color: @sys-color-gray;
    height: 100%;
    overflow: auto;
  }
  .el-main.abtrate {
    height:calc(~"(100% - 45px)");
  }
  // .el-menu>.is-opened>
  .el-menu {
    border-right: none;
  }
  .el-menu>.el-menu-item {
    border-left: 3px solid transparent;
  }
  .el-menu>.is-active{
    border-left: 3px solid @sys-color-main;
  }
  .el-menu-item:focus, 
  .el-menu-item:hover {
    background-color: transparent;
  }
  .el-submenu__title:hover {
    background-color: transparent;
  }
  .is-opened>.el-menu {
    background-color: @sys-color-gray;
    // width: 200px;
  }
  .el-submenu.is-opened {
    background-color: @sys-color-gray;
  }
  .is-active.is-opened {
    border-left: none;
  }
  .el-submenu.is-active {
    border-left: none;
  }
  .el-menu-item {
    padding-right: 0;
    margin-right: 20px;
  }
  .el-submenu>.el-menu>.el-menu-item {
    box-sizing: border-box;
    padding-left: 60px!important;
    width: 100%;
    margin-right: 0px;
    min-width:100%;
  }
  .el-menu>.el-menu-item {
    padding-left: 17px!important;
    margin: 4px 0;
    height: 40px;
    line-height: 40px;
    >.el-tooltip {
      padding-left: 17px!important;
    }
  }
  .el-submenu__title{
    border-left: 3px solid transparent;
    padding-left: 17px!important;
    // padding-right: 17px!important;
    // width: 200px;
    height: 50px;
    line-height: 50px;
  }
  .el-submenu>.el-menu>.el-submenu>.el-submenu__title{
    padding-left: 60px!important;
    border-left: 3px solid transparent;
  }
  .el-submenu>.el-menu>.el-submenu>.el-menu>.el-menu-item{
    padding-left: 70px!important;
  }
  .el-submenu__icon-arrow {
    right: auto;
    margin-top: -5px;
    left: 185px;
    font-size: 14px;
    color: @font-color-main;
    -webkit-transform: rotateZ(270deg);
    transform: rotateZ(270deg);
  }
  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.el-select-dropdown,.el-message--error {
  z-index:10000!important;
}
// 子系统主样式
.sys-main {
  padding: 15px;
  height: calc(~"(100% - 30px)");
  overflow-y: auto;
  .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border: 1px solid @line-color-input;
    outline: 0;
  }
  .ccba-btn {
    margin-bottom: 0!important;
  }
  .query-header {
    background-color: #fff;
    padding: 20px;
  }
  .el-form-item__label{
    text-align: left;
    padding: 0 8px 0 0;
    color: @font-color-main;
  }
  .query-body {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
  }


  .el-table.sys-table-table.el-table--fit.el-table--border.el-table--enable-row-hover.el-table--mini{
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    .el-table__empty-block{
      min-height: 200px;
    }

  }


  .sys-table-table {
    .el-table__expanded-cell[class*=cell] {
      padding: 10px 15px;
    }
    .el-table__expanded-cell th {
      background-color: @sys-color-light;
    }
    .el-table__empty-text {
      width: 100%;
      height: 40px;
      background-color: #fafafa;
      line-height: 40px;
    }
    .el-table__empty-block {
      align-items: inherit;
    }
    thead tr th{
      background-color: #e5f2ff;
    }
    .el-table__header th>.cell{
      text-align: center;
      color: @font-color-main;
      font-weight: normal;
      font-size: 14px;
    }
    .el-table__body td .cell {
      // text-align: center;
      color: @font-color-main;
      font-weight: normal;
      font-size: 14px;
      .sys-td-c{
        text-align: center;
      }
      .sys-td-r{
        text-align: right;
      }
      .sys-td-l{
        text-align: left;
      }
    }
  }
  .el-button--mini{
    padding: 7px 20px;
    font-size: 14px;
  }
  .el-button--primary{
    background-color:@sys-color-main;
    border:none;
    height: 30px;
  
    color:#ffffff;
  }
  .el-button--primary:not(.longButton){
    width:70px;
  }
  .op-btn .el-button {
    font-size: 12px;
    border-radius: 2px;
    padding: 5px;
    margin-left:0;
    height: 25px;
    box-sizing: border-box;
    &:hover {
      background-color: transparent;
    }
    i {
      display: inline-block;
      font-size: 16px;
      margin-top: -4px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {  
    color:#808080;
    background-color:#d8d8d8;
    border:1px #ffffff00 dotted;
    background-image: none;
    cursor: not-allowed;
    box-shadow: none;
  }
  .sys-page-list{
    margin-top: 10px;
    min-height: 30px;
  }
  // 分页
  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: @sys-color-main;
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background-color: @sys-color-gray;
    color: @font-color-main;
  } 
  // form label过长时样式
  .more-txt-lh{
    .el-form-item__label{
      line-height: 16px;
    }
  }
  // 按钮样式
  .list-btns{
    padding: 6px 7px;
    margin: 0 3px 0 0;
    font-size: 12px;
    border-radius: 2px;
    i{
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 6px;
      vertical-align: middle;
      margin-top: -2px;
    }
    &:hover,&:focus{
      border-color: #409EFF;
      color: #409EFF;
      background-color: #fff;
    }
  }
  .list-icon-add i{
    background: url('../../assets/img/icon/icon-add.png') no-repeat;
  }
  .list-icon-add:hover i,.list-icon-add:focus i,.sys-table-table .list-icon-add i{
    background: url('../../assets/img/icon/icon-addH.png') no-repeat;
  }
  .list-icon-subimtCheck i{
    background: url('../../assets/img/icon/icon-subimtCheck.png') no-repeat;
  }
  .list-icon-subimtCheck:hover i,.list-icon-subimtCheck:focus i,.sys-table-table .list-icon-subimtCheck i{
    background: url('../../assets/img/icon/icon-subimtCheckH.png') no-repeat;
  }
  .list-icon-look i{
    background: url('../../assets/img/icon/icon-look.png') no-repeat;
  }
  .list-icon-look:hover i,.list-icon-look:focus i,.sys-table-table .list-icon-look i{
    background: url('../../assets/img/icon/icon-lookH.png') no-repeat;
  }
  .list-icon-import i{
    background: url('../../assets/img/icon/icon-import.png') no-repeat;
  }
  .list-icon-import:hover i,.list-icon-import:focus i,.sys-table-table .list-icon-import i{
    background: url('../../assets/img/icon/icon-importH.png') no-repeat;
  }
  .list-icon-declare i{
    background: url('../../assets/img/icon/icon-declare.png') no-repeat;
  }
  .list-icon-declare:hover i,.list-icon-declare:focus i,.sys-table-table .list-icon-declare i{
    background: url('../../assets/img/icon/icon-declareH.png') no-repeat;
  }
  .list-icon-delete i{
    background: url('../../assets/img/icon/icon-delete.png') no-repeat;
  }
  .list-icon-delete:hover i,.list-icon-delete:focus i,.sys-table-table .list-icon-delete i{
    background: url('../../assets/img/icon/icon-deleteH.png') no-repeat;
  }
  .list-icon-edit i{
    background: url('../../assets/img/icon/icon-edit.png') no-repeat;
  }
  .list-icon-edit:hover i,.list-icon-edit:focus i,.sys-table-table .list-icon-edit i{
    background: url('../../assets/img/icon/icon-editH.png') no-repeat;
  }
  .list-icon-scan i{
    background: url('../../assets/img/icon/icon-scan.png') no-repeat;
  }
  .list-icon-scan:hover i,.list-icon-scan:focus i,.sys-table-table .list-icon-scan i{
    background: url('../../assets/img/icon/icon-scanH.png') no-repeat;
  }
  .list-btn-drop{
    .list-icon-dropdown{
      width: 40px;
      height: 11px;
      margin: 2px 4px;
      background: url('../../assets/img/icon/icon-dropdown.png') no-repeat;
    }
    &:hover .list-icon-dropdown,&:focus .list-icon-dropdown{
      background: url('../../assets/img/icon/icon-dropdownH.png') no-repeat;
    }
  }
  .table-icon{
    margin: 0;
    padding: 0;
    i{
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 6px;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  // 用于form-item mg-b等于0
  .form-item-mg0.el-form-item--mini.el-form-item{
    margin-bottom: 0;
  }
  
  // 表格form样式
  .form-table-panel{
    border: 1px solid @line-color-input;
    border-bottom: none;
    border-right: none;
    .el-form-item--mini.el-form-item{
      margin-bottom: 0;
    }
    .el-row{
      border-bottom: 1px solid @line-color-input;
      .el-form-item__label{
        border-right: 1px solid @line-color-input;
        padding: 0 8px 0 0;
        text-align: right;
      }
      .el-form-item__content{
        border-right: 1px solid @line-color-input;
      }
      .el-input__inner{
        border: none;
        padding: 0 8px 0 8px;
        text-overflow: ellipsis;
      }
    }
  }

}
// 财务表格样式
.el-autocomplete-suggestion {
  width: auto!important;
}
.sys-main.costList {
  .finaceCode { // 个别输入框标红
    .el-input__inner {
      border-color: #F56C6C!important;
    }
  }
}
.sys-main.expenseDetail {
  .cell-disable {
    background-color: #f5f5f5;
    .cell {
      color: #A5A5A5!important;
    }
  }
  .table-select {
    padding: 5px 0;
  }
  // .el-table--enable-row-hover .el-table__body tr:hover>td {
  //   background-color: #fff;
  // }
  .el-table td {
    padding: 0
  }
  .el-input__inner {
    height: auto;
    border: none;
    line-height: 30px;
  }
  .el-table .cell {
    padding: 0;
  }
  
}
.sys-main.finance {
  .el-table td,
  .el-table th.is-leaf {
    border-bottom: none;
  }
  .el-table td,
  .el-table th {
    padding: 4px 0;
    font-size: 13px;
  }
  .el-table .cell,
  .el-table th div,
  .el-table--border td:first-child .cell,
  .el-table--border th:first-child .cell {
    padding-left:0;
  }
  .el-table--border::after,
  .el-table--group::after,
  .el-table::before {
    background-color: transparent;
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: transparent;
  }
}

//弹窗样式
.el-dialog{ 

.el-dialog__header{
  padding: 18px 0px 26px 18px;
   .el-dialog__title{
    font-size: 16px;
}
   .el-dialog__headerbtn{
  padding:2px;
}
}


.el-dialog__body{
  padding:0px 22px 20px;

  .el-form-item__label{
    padding-right: 8px;
  }

  .el-col-24{
    padding-bottom: 8px;
  }

  .el-button{
    font-size: 14px;
    border-radius: 4px;
  }
  .el-button--primary{
    background-color: #287fca;
    width: 70px;
    height: 30px;
    color:#ffffff;
    border-color: rgba(255, 255, 255, 0);
  }
  .el-button--default{
    width: 70px;
    height: 30px;  
    color:#4c4c4c;
    border-color:#d8d8d8;
    margin-left:14px;
  }
}
}
.query-main.sys-main{
  .el-dialog__wrapper .el-dialog .el-dialog__body .dec-div .el-form{
   .el-button{
     width:93px;
   }   
  }
}


// 历史商品弹框样式
.sys-dec-class{
  body {
      font-size: 12px;
      font-family: Arial,Microsoft YaHei,SimSun;
      height: 100%;
      color: #080808;
      line-height: 1.42857143;
      background-color: #fff;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border-collapse:collapse;
  }
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
      margin-bottom: 10px;
  }
  .el-form-item__label {
      text-align: right;
      float: left;
      font-size: 12px;
      color: @font-color-title;
      line-height: 16px;
      padding: 0 10px 0 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  .el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
      line-height: 19px;
      height: 19px;
  }
  .sys-d-title.el-form-item--mini .el-form-item__label {
      line-height: 13px;
  }
  .el-button--mini, .el-button--small {
      font-size: 12px;
      border-radius: 2px;
      padding: 5px 5px;
  }
  .el-button+.el-button {
      margin-left: 0px; 
  }
  .el-button--primary {
      line-height: normal;
      padding: 0px 2px;
      font-size: 12px;
      height: 16px;
      border-radius: 4px;
      background-color: #096AC6;
      border: 0px;
      color: #fff;
  }
  .dec-h-24 {
      height: 24px;
  }
  .el-button--primary:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
  }
  .secondButton {
      line-height: normal;
      padding: 0px 2px;
      font-size: 12px;
      height: 20px;
      border-radius: 4px;
      background-color: #fff;
      color: #096AC6;
      border: solid 1px #d2d2d2!important;
      margin-right: 2px;
  }
  .secondButton:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
  }
  .el-button--text {
      padding: 0;
  }
  .sys-mini-btn{
      padding: 6px;
  }
  .sys-dec-btns{
      text-align: center
  }
  .el-checkbox-button__inner{
  font-size: 12px;
  }
  .el-checkbox-button:last-child .el-checkbox-button__inner {
      border-radius: 0 4px 4px 0;
      width: 100%;
      height: 100%;
  }
  .require-color .el-input__inner{
      background-color: #faffbd;
  }
  .el-table th{
      padding: 0px;
      font-size: 12px;
      color: white;
      background-color: #64A7EB;
      border-right-color: #e4eaec;
      height: 20px;
      vertical-align: middle;
  }
  .el-table__empty-block{
      align-items: inherit;
  
  }
  .el-form-item--mini .el-form-item__content,  .el-form-item--mini .el-form-item__label {
      line-height: 19px;
      height: 19px;
  }
  .el-form-item--mini.el-form-item,  .el-form-item--small.el-form-item {
      margin-bottom: 0px;
  }
  .el-input.is-disabled .el-input__inner {
      background-color: #ebebeb !important;
      color: #c0c4cc;
      cursor: not-allowed;
  }
  .el-select--mini .dis-label {
      height: 18px !important;
      line-height: 18px !important;
      font-size: 12px !important;
      background-color: #ebebeb!important;
      color: #B7B7B7 !important;
      border-right: 1px solid #B7B7B7 !important;
      padding-left: 5px !important;
      border-radius: 2px !important;
  }
  .el-form-item__content>.el-input>.el-input__inner[readonly] {
      background-color: #ebebeb;
  }
  .el-form-item__content>.el-autocomplete>.el-input>.el-input__inner[readonly] {
      background-color: #ebebeb;
  }
  .el-form-item__content>.el-col>.el-input>.el-input__inner[readonly] {
      background-color: #ebebeb;
  }
  .el-input--mini .el-input__inner, .el-range-editor--mini.el-input__inner {
      height: 18px !important;
      line-height: 18px;
      border-top: 0;
      border-right: 1px solid #B7B7B7 !important;
      border-radius: 0;
      border-bottom: 0;
      border-left: 0;
      vertical-align: middle;
      margin-top: -2px;
  }
  .el-table--mini td, .el-table--mini th {
      padding: 0px 0;
  }
  .el-form-item__label {
      text-align: right;
      float: left;
      font-size: 12px;
      color: #808080;
      padding: 0 2px 0 0;
      box-sizing: border-box;
      border-top: 0;
      border-left: 0;
      border-right: 1px solid #B7B7B7 !important;
  }
  .el-row {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #B7B7B7;
  }
  .el-table__empty-block {
      background-color: #e1f0ff;
  }
  .el-input__inner {
      border-radius: 0px;
      -webkit-border-radius: 0px;
      padding: 0 5px;
  }
  .el-input__inner:focus {
      position: relative;
      top: 1px;
      border-bottom: 1px solid rgba(5, 121, 239, 0.99) !important;
  }
  .el-table__empty-text {
      width: 100%;
      height: 20px;
      background-color: #fafafa;
      line-height: 20px;
  }

  .el-input.is-disabled .el-input__inner {
      color: #9b9b9b;
  }
  .el-input--mini .el-input__icon {
      line-height: 16px;
  }
  .el-dialog__body {
      padding: 10px 20px;
      color: #606266;
      font-size: 12px;
  }
  .el-dialog__header {
      padding: 10px 20px 0px;
  }
  .dialog-primary-btn {
      height: 32px;
      line-height: 32px;
      margin: 0 6px;
      padding: 0 15px;
      border: 1px solid;
      border-radius: 2px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      border-color: #4898d5;
      background-color: #2e8ded;
      color: #fff;
      margin-top:10px;
      margin-right:5px;
  }
  .dialog-btn {
      height: 32px;
      line-height: 32px;
      margin: 0 6px;
      padding: 0 15px;
      border: 1px solid #dedede;
      background-color: #f0f0f0;
      color: #3C3C3C;
      border-radius: 2px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      margin-top:10px;
      margin-right:5px;
  }
  .el-aside {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right:20px
  }
  .el-form-item__content {
      line-height: 16px;
      position: relative;
      font-size: 12px;
  }
  .el-form-item {
    margin-bottom: 0; 
  }
  .btn-pop {
      line-height: normal;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: #096AC6;
      border: 0px;
      color: #fff;
      margin-left: 4px;
      padding: 0 0;
  }
  .el-dialog__body {
      padding: 5px 5px;
      color: #606266;
      font-size: 12px;
  }
  .el-dialog__title {
      line-height: 34px;
      font-size: 18px;
      color: #fff;
  }
  .el-dialog__header {
      padding: 5px 20px 5px;
      background: #0969C8 !important;
      color: #fff !important;
  }
  .el-dialog__headerbtn {
      position: absolute;
      top: 10px;
      right: 20px;
      padding: 0;
      background: 0 0;
      border: none;
      outline: 0;
      cursor: pointer;
      font-size: 16px;
  }
  .border-margin {
      margin-top: 15px;
      margin-left: 15px;
  }
  .el-form-item__error {
      color: white;
      font-size: 12px;
      position: absolute;
      top: 100%;
      left: 0;
      background: red;
      z-index: 1;
      padding: 5px 5px;
      min-width: 20px;
      line-height: 18px;
      border-radius: 2px; 
 }
 .el-select-dropdown__item.selected {
      background: #0080ff;
      color: #ffffff;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
      background: #dbed8a;
      font-weight: bold;
  }
  .el-select-dropdown__item {
      font-size: 12px;
      padding: 0 15px;
      height: 22px;
      line-height: 22px;
      border: #c0c0c0 solid 1px;
  }
  .el-form-item__error:after{
      border: solid transparent;
      content: ' ';
      height: 0;
      position: absolute;
      width: 0;
      border-width: 6px;
      border-bottom-color: red;
      bottom: 25px;
      left: 10px;
  }
  .el-select-dropdown__list {
      padding: 0;
  }
  .file-input{
      height: 32px;
      line-height: 32px;
    }
  table {
      border-collapse: collapse;
  }
  .table-input td {
      border: 1px solid black;
  }
  .table-input  table,  .table-input  td, .table-input  th {
      border: 1px solid #B7B7B7;
  }
  .table-input .el-input__inner {
      border: 0;
      height: 18px;
      line-height: 18px;
  }
  .el-radio+.el-radio {
      margin-left: 16px;
  }
  .el-radio{
      margin-left: 10px;
  }
  .el-radio__label {
      font-size: 12px;
  }
  .el-checkbox+.el-checkbox {
      margin-left: 10px;
  }
  .el-table .cell, .el-table th > .cell {
      text-overflow: initial;
      white-space: nowrap;
      overflow: hidden;  
  }
  .print-margin .el-row {
      border: 0;
  }
}
.list-icon-import i{
  background: url(../img/icon-import.png) no-repeat;
}
.list-icon-import:hover i,.list-icon-import:focus i{
  background: url(../img/icon-importH.png) no-repeat;
}
.list-icon-export i{
  background: url(../img/icon-export.png) no-repeat;
}
.list-icon-export:hover i,.list-icon-export:focus i,.sys-table-table .list-icon-export i{
  background: url(../img/icon-exportH.png) no-repeat;
}
.list-icon-export.is-disabled:hover i,.list-icon-export.is-disabled i{
  background: url(../img/icon-exportG.png) no-repeat;
}
.list-icon-copy i{
  background: url(../img/icon-copy.png) no-repeat;
}
.list-icon-copy:hover i,.list-icon-copy:focus i{
  background: url(../img/icon-copyH.png) no-repeat;
}
.list-icon-delete i{
  background: url(../img/icon-delete.png) no-repeat;
}
.list-icon-delete:hover i,.list-icon-delete:focus i,.sys-table-table .list-icon-delete i{
  background: url(../img/icon-deleteH.png) no-repeat;
}
.list-icon-delete.is-disabled:hover i,.list-icon-delete.is-disabled i{
  background: url(../img/icon-deleteG.png) no-repeat;
}
.list-icon-declare i{
  background: url(../img/icon-declare.png) no-repeat;
}
.list-icon-declare:hover i,.list-icon-declare:focus i{
  background: url(../img/icon-declareH.png) no-repeat;
}
.list-icon-autodeclare i{
  background: url(../img/icon-autodeclare.png) no-repeat;
}
.list-icon-autodeclare:hover i,.list-icon-autodeclare:focus i{
  background: url(../img/icon-autodeclareH.png) no-repeat;
}
.list-icon-canceldeclare i{
  background: url(../img/icon-canceldeclare.png) no-repeat;
}
.list-icon-canceldeclare:hover i,.list-icon-canceldeclare:focus i{
  background: url(../img/icon-canceldeclareH.png) no-repeat;
}
.list-icon-viewEdit i{
  background: url(../img/icon-viewEdit.png) no-repeat;
}
.list-icon-viewEdit:hover i,.list-icon-viewEdit:focus i{
  background: url(../img/icon-viewEditH.png) no-repeat;
}
.list-icon-scan i{
  background: url(../img/icon-scan.png) no-repeat;
}
.list-icon-scan:hover i,.list-icon-scan:focus i{
  background: url(../img/icon-scanH.png) no-repeat;
}
.list-icon-reject i{
  background: url(../img/icon-reject.png) no-repeat;
}
.list-icon-reject:hover i,.list-icon-reject:focus i{
  background: url(../img/icon-rejectH.png) no-repeat;
}
.list-icon-reject.is-disabled:hover i,.list-icon-reject.is-disabled i{
  background: url(../img/icon-rejectG.png) no-repeat;
}
.list-icon-check i{
  background: url(../img/icon-check.png) no-repeat;
}
.list-icon-check:hover i,.list-icon-check:focus i{
  background: url(../img/icon-checkH.png) no-repeat;
}
.list-icon-check.is-disabled:hover i,.list-icon-check.is-disabled i{
  background: url(../img/icon-checkG.png) no-repeat;
}
.list-icon-checkP i{
  background: url(../img/icon-checkP.png) no-repeat;
}
.list-icon-checkP:hover i,.list-icon-checkP:focus i{
  background: url(../img/icon-checkPH.png) no-repeat;
}
.list-icon-rollback i{
  background: url(../img/icon-rollback.png) no-repeat;
}
.list-icon-rollback:hover i,.list-iconrollback:focus i{
  background: url(../img/icon-rollbackH.png) no-repeat;
}
.list-icon-edit i{
  background: url(../img/icon-edit.png) no-repeat;
}
.list-icon-editH i{
  background: url(../img/icon-editH.png) no-repeat;
}
.list-icon-edit:hover i,.list-icon-edit:focus i,.sys-table-table .list-icon-edit i{
  background: url(../img/icon-editH.png) no-repeat;
}
.list-icon-sign i{
  background: url(../img/icon-sign.png) no-repeat;
}
.list-icon-sign:hover i,.list-icon-sign:focus i{
  background: url(../img/icon-signH.png) no-repeat;
}
.list-icon-look i{
  background: url(../img/icon-look.png) no-repeat;
}
.list-icon-lookH i{
  background: url(../img/icon-lookH.png) no-repeat;
}
.list-icon-look:hover i,.list-icon-look:focus i,.sys-table-table .list-icon-look i{
  background: url(../img/icon-lookH.png) no-repeat;
}
.list-icon-look2 i{
  background: url(../img/icon-look2.png) no-repeat;
}
.list-icon-lookH2 i{
  background: url(../img/icon-lookH2.png) no-repeat;
}
.list-icon-look2:hover i,.list-icon-look2:focus i{
  background: url(../img/icon-lookH2.png) no-repeat;
}
.list-icon-listExport i{
  background: url(../img/icon-listExport.png) no-repeat;
}
.list-icon-listExport:hover i,.list-icon-listExport:focus i{
  background: url(../img/icon-listExportH.png) no-repeat;
}
.list-icon-createBill i{
  background: url(../img/icon-createBill.png) no-repeat;
}
.list-icon-createBill:hover i,.list-icon-createBill:focus i{
  background: url(../img/icon-createBillH.png) no-repeat;
}
.list-icon-subimtCheck i{
  background: url(../img/icon-subimtCheck.png) no-repeat;
}
.list-icon-subimtCheck:hover i,.list-icon-subimtCheck:focus i{
  background: url(../img/icon-subimtCheckH.png) no-repeat;
}
.list-icon-detailEport i{
  background: url(../img/icon-detailEport.png) no-repeat;
}
.list-icon-detailEport:hover i,.list-icon-detailEport:focus i{
  background: url(../img/icon-detailEportH.png) no-repeat;
}
.list-icon-mergeOrder i{
  background: url(../img/icon-mergeOrder.png) no-repeat;
}
.list-icon-mergeOrder:hover i,.list-icon-mergeOrder:focus i{
  background: url(../img/icon-mergeOrderH.png) no-repeat;
}
.list-icon-emailSend i{
  background: url(../img/icon-emailSend.png) no-repeat;
}
.list-icon-emailSend:hover i,.list-icon-emailSend:focus i{
  background: url(../img/icon-emailSendH.png) no-repeat;
}
.list-icon-print i{
  background: url(../img/icon-print.png) no-repeat;
}
.list-icon-print:hover i,.list-icon-print:focus i{
  background: url(../img/icon-printH.png) no-repeat;
}
.list-icon-billDown i{
  background: url(../img/icon-billDown.png) no-repeat;
}
.list-icon-billDown:hover i,.list-icon-billDown:focus i{
  background: url(../img/icon-billDownH.png) no-repeat;
}
.list-icon-add i{
  background: url(../img/icon-add.png) no-repeat;
}
.list-icon-add:hover i,.list-icon-add:focus i{
  background: url(../img/icon-addH.png) no-repeat;
}
.list-icon-sync i{
  background: url(../img/icon-sync.png) no-repeat;
}
.list-icon-sync:hover i,.list-icon-sync:focus i{
  background: url(../img/icon-syncH.png) no-repeat;
}
.list-icon-upload i{
  background: url(../img/icon-upload.png) no-repeat;
}
.list-icon-upload:hover i,.list-icon-upload:focus i{
  background: url(../img/icon-uploadH.png) no-repeat;
}
.list-icon-download i{
  background: url(../img/icon-download.png) no-repeat;
}
.list-icon-download:hover i,.list-icon-download:focus i{
  background: url(../img/icon-downloadH.png) no-repeat;
}
.list-icon-AI i{
  background: url(../img/icon-ai.png) no-repeat;
}
.list-icon-AI:hover i,.list-icon-AI:focus i{
  background: url(../img/icon-aiH.png) no-repeat;
}
.list-icon-refresh i{
  background: url(../img/icon-refresh.png) no-repeat;
}
.list-icon-refreshH i{
  background: url(../img/icon-refreshH.png) no-repeat;
}
.list-icon-refresh:hover i,.list-icon-refresh:focus i{
  background: url(../img/icon-refreshH.png) no-repeat;
}
.list-icon-finance i{
  background: url(../img/icon-finance.png) no-repeat;
}
body .el-table th.gutter{
  display: table-cell!important;
}
.el-select-dropdown{
  max-width: 500px;
}
.el-select-dropdown__item{
  display: block;
}
.text-over-hid{
  overflow:hidden; //超出的文本隐藏
  text-overflow:ellipsis; //溢出用省略号显示
  white-space:nowrap;
}
.license-card.is-always-shadow{
  position: relative;
  margin-bottom: 20px;
  padding-right: 10px;
  box-shadow: none;
  border-radius: 0;
}
.more-txt-lh{
  .el-form-item__label{
    line-height: 16px;
  }
}
// 人才招聘 左侧边栏
.el-menu-vertical {
  border-right: none;
  .el-submenu__title{
    height: 28px;
    line-height: 28px;
  }
  .el-submenu {
    margin-bottom: 20px;
  }
  .el-submenu .el-menu-item {
    height: 28px;
    line-height: 28px;
    .el-checkbox__label {
      font-size: 12px;
      color: #333;
    }
  }
  .el-menu-item-group {
    .el-menu-item-group__title {
      padding: 0;
    }
  }
}
.detail-css {
  .el-dialog {
    .el-dialog__body {
      padding-top: 20px;
      .el-form-item {
        margin-bottom: 18px;
        .el-form-item__label {
          height: 28px;
          line-height: 28px;
          text-align: left;
        }
        .el-form-item__error {
          padding-top: 1px;
        }
        .el-form-item__content {
          line-height: 28px;
          height: 28px;
        }
      }
    }
    .el-dialog__footer{
      text-align: center !important;
      padding-top: 30px; 
    }
    .dialog-btn {
      background-color: #287fca;
      border-color: #287fca;
      &:hover,&:focus{
        border-color: #287fca  !important;
        background-color: #287fca  !important;
      }
    }
    
  }
}
.el-button--default:hover{
  border-color: #409EFF;
  background-color: #fff;
}
.el-button--default:focus{
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
}




.type-height {
  margin-bottom: 0px;
}
// 暂无数据图片
.null-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.query-mini .el-form .el-row{
  .el-form-item.el-form-item--mini{
    .el-form-item__content,.el-form-item__label{
      line-height: 20px;
    }
  }
}